
.page
{
    padding: 0%;
    background-color: (255,255,255,1);
    
}


.navigation-bar
{
    min-width:  860px;
    max-width: 1260px;
    min-height: 80px;
    max-height: 80px;
    padding: 12px;
    margin: 0;
    margin-bottom: 12px;

    background-color: rgba(0,0,0,0);
}

.navbar-brand
{
    color: rgb(37, 37, 37);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-link
{
    color: rgb(95, 95, 95);
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




/*Centered block with main UI components*/
.centered-view
{
    max-width: 1260px;
    min-width: 860px;
    min-height: 100vh;

    padding: 0%;

    background-color: rgba(0,0,0,0);
    border-radius: 2px;
}

/*Row container for the 3 parts UI*/
.row-ui
{
    margin : 0%;
}

/*The middle Ui panel*/
.middle-panel
{
    min-height: 500px;
    max-height: 500px;
    min-width: 660px;
    max-width: 660px;
    
    padding: 0%;
    margin: 24px;
    border-radius: 12px;

    background-color: rgba(0,0,0,0.1);
}

.side-panel
{
    min-height: 100px;
    max-height: 500px;
    min-width: 100px;
    max-width: 430px;

    padding: 0%;

    background-color: rgba(0,0,0,0);
}

.video-feed
{
    min-width: 640px;
    max-width: 640px;
    min-height: 480px;

    margin: 10px;

    background-color: black;
}


.command-panel
{
    min-height: 60px;
    max-height: 60px;
    min-width: 860px;
    max-width: 1260px;
    
    padding: 0%;
    border-radius: 12px;

    background-color: rgba(0,0,0,0.05);
}

.joystick
{
    min-height: 300px;
    min-width:  300px;
    max-height: 300px;
    max-width:  300px;

    margin: 10px;
    padding: 0px;
    border-radius: 12px;

    background:rgba(0,0,0,0);
}

.panel
{
    min-height: 60px;
    min-width: 860px;
    max-width: 1260px;
    
    padding: 12px;
    border-radius: 12px;

    background-color: rgba(0,0,0,0.03);
}

.text
{
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    font-size: 24px;
}

canvas
{
    max-width: 90vw;
    min-height: 30vh;
    max-height: 30vh;
    margin-bottom: 5vh;
}