<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPEFly Web Interface</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="page">
    <header >
        <ul class="barNavigation">
            <li><a href="/">CPEFly</a></li>
            <li><a href="/info">Info</a></li>
        </ul>
    </header>
    
    <main class="info">
        <a>
            Informations sur le Projet CPEFly
        </a>
    </main>
    
    <footer>
        <p>&copy; 2024 CPEFly. GNU GENERAL PUBLIC LICENSE.</p>
    </footer>
    <script src="../static/script.js" defer></script>
</body>
</html>
