<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CPEFly WebApp</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
	</head>
    
	<body>
        <script src="../static/jquery-3.7.1.js"></script>

        <header class="page-header header container-fluid">
            <div class="overlay"></div>

            <!--Navigation Bar-->
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="/">CPEFly</a>
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/data">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/info">About</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid features">
                
                <div class="row">
                    <div class="col-lg-3 order-2 order-lg-1">
                        <div id="joystick-translation"></div>
                    </div>
                    
                    <div class="col-lg-3 order-1 order-lg-2" id="video">
                        <iframe src="http://<adresse_ip_raspberry>:5000/video_feed" width="640" height="480"></iframe>
                    </div>
                    
                    <div class="col-lg-3 order-3 order-lg-3">
                        <div id="joystick-height"></div>
                    </div>
                </div>
            </div>


        </header>

        <script src="../static/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../static/utils_main.js"></script>
        <script src="../static/virtual-joystick.js"></script>
        <script src="../static/script.js"></script>
	</body>
	
</html>