<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CPEFly Web Interface</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="../static/bulma.css">
    <link rel="stylesheet" href="../static/style_new.css">
</head>
<body class="hero has-background-text-10">

    <header class="navbar has-background-text-20" role="navigation" aria-label="main navigation">
        <a class="navbar-item" href="/">CPEFly</a>
        <a class="navbar-item" href="/info">Info</a>
    </header>
    

    <main class='columns is-vcentered '>

        <div class='column is-narrow has-text-centered'>
            <p>Height</p>
            <p id="dX-height">dX: 0.0000</p>
            <p id="dY-height">dY: 0.0000</p>
            <div id="joystick-height"></div>
        </div>

        <div class='column has-text-centered'>
            <p id="label">Flux Vidéo</p>
            <iframe src="http://<adresse_ip_raspberry>:5000/video_feed" width="640" height="480"></iframe>
        </div>

        <div class='column is-narrow has-text-centered'>
            <p>Translation</p>
            <p id="dX-translation">dX: 0.0000</p>
            <p id="dY-translation">dY: 0.0000</p>
        <div id="joystick-translation"></div>
          
    </main>

    <footer class="footer is-narrow mt-auto has-background-text-20">
        <p class="content has-text-centered">&copy; 2024 CPEFly. GNU GENERAL PUBLIC LICENSE.</p>
    </footer>
</body>



<script src="../static/script.js" defer></script>

</html>
